body {
    background-color: rgba(211, 37, 37, 0.817);
    text-align: center;
    margin: 0px
}

header {
    border-bottom: solid 2px rgb(231, 161, 161);
    padding: 23px;
    font-size: 23px;
    text-decoration: none;
}

.anja {
    font-style: italic;
    color: rgb(93, 18, 122);
}

.img1 {
    width: 37%;
}